.card {
  margin-top: 0.7rem;
}

.card-body {
  padding: 1rem 2rem;
}

aside .card{
  align-items: center;
}

img {
  height: 100%;
}

.card img {
  width: 300px;
  padding-bottom: 10px;
}

.row.mx-2 {
  align-items: start;
}

h1, h4 {
  padding-bottom: 0;
  margin-bottom: 0;
}

h2,
h3 {
  text-align: center;
}

.row {
  align-items: center;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  padding-bottom: 5px;
}

.discord {
  font-size: 1.2rem;
}

.col-lg-8,
.col-md-8 {
  line-height: 2;
}

footer {
  padding-top: 1rem;
  vertical-align: middle;
}

.github {
  color: #000000;
}

.github:hover {
  color: #693800;
}

pre {
  margin-bottom: 0;
}

code {
  padding: 0 !important;
}

.rsschool {
  width: 120px;
}