.card {
  margin-top: 0.7rem;
}

.card-body {
  padding: 1rem 2rem;
}

aside .card{
  align-items: center;
}

.aside .card img {
  height: 300px;
  width: 300px;
  padding-bottom: 10px;
}

h1, h4 {
  padding-bottom: 0;
  margin-bottom: 0;
}

h2,
h3 {
  text-align: center;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  padding-bottom: 5px;
}

.discord {
  font-size: 1.2rem;
}

.col-lg-8,
.col-md-8 {
  line-height: 2;
}

pre {
  background-color: #ececec;
  color: #000000;
}